<!DOCTYPE HTML>
<html>
<head>
<title>SiamShopCrud</title>
<script type="text/javascript" charset="utf-8" src="cordova-1.5.0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
<link rel="stylesheet" type="text/css" href="default.css"/>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head> 
<body> 

<script type="text/javascript" charset="utf-8">
	$(document).ready(onDeviceReady);
	function initListElement(shopData){
		var ul = $('.data-entries');
		if(shopData){
			for(i in shopData){
				var li = $('<li></li>');
				var a = $('<a><img src="'+shopData[i].value.images[0]+'" />'+shopData[i].value.shopName+'</a>');
				a.attr("href","#");
				a.bind('click',{msg:{key:shopData[i].key,thumbnail_id:shopData[i].value.thumbId, thumbnail_rev:shopData[i].value.thumbRev}}, function(evt){
					//$.mobile.showPageLoadingMsg();
	    			window.localStorage.setItem("current_row",evt.data.msg.key);
	    			window.localStorage.setItem("current_thumbnail_id",evt.data.msg.thumbnail_id);
	    			window.localStorage.setItem("current_thumbnail_rev",evt.data.msg.thumbnail_rev);
	    			window.location.replace('form.html');
			 	   	/*couch.decode(false);
					 couch.get({
				    	  url: '/'+evt.data.msg,
				    	  callback: function(res) {
				    	 		$.mobile.hidePageLoadingMsg();
				    			window.location.replace('form.html');
				    	  }
				   });*/
				});
				li.append(a);
				ul.append(li);
			}
			ul.listview("refresh");
		}
	}
	function onDeviceReady() {
		$.mobile.showPageLoadingMsg('d','loading...', true);    
	    if(window.localStorage && window.localStorage.getItem("ini-list")){
			var initList = window.localStorage.getItem("ini-list");
	    	$.mobile.hidePageLoadingMsg(); 
	    	window.localStorage.removeItem("ini-list");//var listObj = JSON.parse(initList);
	   		initListElement(JSON.parse(initList));
	    }else{
	    	
		   $.ajax({ url: '/listThumbnail',
	    	  success: function(res) {
		    	 	$.mobile.hidePageLoadingMsg();
		    	   initListElement(res.rows);
		    	}
		   });
	    }
	}
	
</script>
<div data-role="page" class="dataList">

	<div data-role="header">
		<h1>Data List</h1>
		<a href="form.html" data-icon="plus" data-transition="fade" data-ajax="false">Add</a>
	</div><!-- /header -->
	<div data-role="content"> 	 
			<ul data-role="listview"  class="data-entries" data-filter="true" data-theme="b">
			</ul>
	</div>
	
</div>
</body>
</html>
